.content {
  width: 900px;
  margin: 0 auto;
  position: relative;
}
.content > div {
  width: 600px;
}
.show,
.hide {
  display: inline-block;
  width: 150px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
  margin: 5px;
  position: relative;
  right: -492px;
  bottom: 5px;
  margin-top: 20px;
}
.toggle {
  display: none;
}

